.footer {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  .text {
    color: var(--info);
    font-family: "Press Start 2P", cursive;
    text-align: center;
  }
}
